In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
file_path = "/Users/malithjkd1/Documents/AI_ML_data/sensor_data_2026-02-04_141825.csv"

df = pd.read_csv(file_path)

In [3]:
df.head()

,timestamp,activity,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z,magneto_x,magneto_y,magneto_z,lat,lon,altitude,speed
0,2026-01-04 12:18:20.123,walking,9.8,0.0,0.0,0.1,0.05,0.02,50.0,25.0,30.0,0.0,0.0,0.0,0.0
1,2026-01-04 12:18:20.160,walking,9.8,0.0,0.0,0.1,0.05,0.02,50.0,25.0,30.0,0.0,0.0,0.0,0.0
2,2026-01-04 12:18:20.295,walking,9.8,0.0,0.0,0.1,0.05,0.02,50.0,25.0,30.0,0.0,0.0,0.0,0.0
3,2026-01-04 12:18:20.498,walking,9.8,0.0,0.0,0.1,0.05,0.02,50.0,25.0,30.0,0.0,0.0,0.0,0.0
4,2026-01-04 12:18:20.504,walking,9.8,0.0,0.0,0.1,0.05,0.02,50.0,25.0,30.0,0.0,0.0,0.0,0.0

In [4]:
column_names = ["timestamp","activity", "accel_x", "accel_y", "accel_z", "gyro_x", "gyro_y", "gyro_z", "magneto_x", "magneto_y", "magneto_z", "lat", "lon", "altitude", "speed"]

In [5]:
print("Dataframe shape:", df.shape)
print("Number of columns in dataframe:", len(df.columns))
print("Number of features in header list:", len(column_names))

Dataframe shape: (5998, 15)
Number of columns in dataframe: 15
Number of features in header list: 15